{% extends 'App/main.html' %}
{% load static %}

{% block content %}

<main class="main-body-projects" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    <section id="profile-section-projects" class="section-main-projects">

        <div class="container-projects">

            <div class="title-projects">
                <img class="blue_square_one-projects" src="https://kartinki.pibig.info/uploads/posts/2023-12/thumbs/1701854359_kartinki-pibig-info-p-sinii-kvadrat-kartinka-krasivo-67.jpg">
                <h3 class="text-title-projects">Проекты</h3>
            </div>

            <div class="p-text-projects">
                <p class="p-text-projects-all">Все мои проекты включают оптимизацию производства с использованием систем автоматизации управления технологическими процессами,создание чертежей для различных инженерных конструкций и систем,проведение анализа данных с целью выявления паттернов и оптимизации бизнес-процессов.</p>
            </div>

            <div class="project-one">
                <div class="project-one-period-and-description">

                    <div class="project-one-period-position-comname-location">
                        <p class="p-class-project-one">Сепаратор нефти</p>
                        <p class="p-class-project-two">Программист</p>
                        <p class="p-class-project">Участие в разработке сепаратора нефти для оптимизации процессов разделения нефтяных фракций в производственной среде. Тестирование и отладка программного обеспечения с целью обеспечения стабильной работы сепаратора в различных условиях эксплуатации.</p>
                    </div>

                    <div class="project-one-img">
                        <img class="project-one-img-style" src="https://img01.flagma-az.com/photo/neftegazovy-separator-1753258_big.jpg">

                    </div>

                </div>
            </div>


            <div class="project-two">
                <div class="project-two-name-picture">

                    <div class="project-two-name-role-description">
                        <p class="project-two-name">Шкафы управления</p>
                        <p class="project-two-role">Проектировщик</p>
                        <p class="project-two-description">Участие в проекте по разработке чертежей и технической документации для шкафов управления, предназначенных для промышленного использования. Создание технических чертежей шкафов управления с использованием программного обеспечения AutoCAD</p>
                    </div>

                    <div class="project-two-img">
                        <img class="project-two-img-style" src="https://iicom.kz/upload/iblock/014/i10.png">

                    </div>

                </div>
            </div>


                <div class="project-two">
                    <div class="project-two-name-picture">

                        <div class="project-two-name-role-description">
                            <p class="project-two-name">Обнаружение объектов и </br> распознавание </p>
                            <p class="project-two-role">Программист</p>
                            <p class="project-two-description">Разработка системы компьютерного зрения (Computer Vision) для обнаружения и распознавания объектов в реальном времени с использованием современных методов машинного обучения. Разработка и реализация алгоритмов компьютерного зрения с применением библиотек машинного обучения, таких как TensorFlow и подготовка и аугментация датасетов с использованием платформы Roboflow для обучения моделей машинного обучения.</p>
                        </div>

                        <div class="project-two-img">
                            <img class="project-two-img-style" src="https://www.simplilearn.com/ice9/free_resources_article_thumb/what_is_Computer_Vision.jpg">

                        </div>

                    </div>
                </div>



                <div class="project-two">
                    <div class="project-two-name-picture">

                        <div class="project-two-name-role-description">
                            <p class="project-two-name">Разработки ПО для </br> микроконтроллеров </p>
                            <p class="project-two-role">Программист</p>
                            <p class="project-two-description">Программного обеспечения для микроконтроллеров, предназначенного для управления и контроля различными устройствами и системами. Написание кода на языках программирования, таких как C, C++, с использованием интегрированных сред разработки (IDE) и SDK для конкретных микроконтроллеров. </p>
                        </div>

                        <div class="project-two-img">
                            <img class="project-two-img-style" src="https://rxtx.su/files/new-project-cube-ide.png">

                        </div>

                    </div>
                </div>



                  <div class="project-two">
                    <div class="project-two-name-picture">

                        <div class="project-two-name-role-description">
                            <p class="project-two-name">Анализ данных</p>
                            <p class="project-two-role">Программист</p>
                            <p class="project-two-description">В проекте по анализу данных с целью извлечения ценной информации из имеющихся данных для принятия бизнес-решений или оптимизации процессов. Сбор, очистка и предобработка данных для подготовки к анализу. Визуализация результатов анализа с использованием инструментов визуализации данных (Matplotlib, Seaborn).</p>
                        </div>

                        <div class="project-two-img">
                            <img class="project-two-img-style" src="https://webpromo.kz/wp-content/uploads/2022/09/charts-gbbfb8e1f0_1280-1024x581-1.jpg">

                        </div>

                    </div>
                </div>


        </div>
        
    </section>

</main>

{% endblock content %}