{% extends 'App/main.html' %}
{% load static %}

{% block content %}
<main class="main-body-resume">

    <section id="profile-section-resume" class="section-main-resume">

    <div class="container-resume">

        <div class="title-resume">
            <div class="title-resume-one">
                <img class="blue_square_one " src="https://kartinki.pibig.info/uploads/posts/2023-12/thumbs/1701854359_kartinki-pibig-info-p-sinii-kvadrat-kartinka-krasivo-67.jpg">
                <h3 class="text-title-resume">Резюме</h3>
            </div>
        </div>

        <div class="experience-and-download-cv">
            <p class="text-experience">Опыт</p>
            <a class="download-cv" href="https://drive.google.com/uc?export=download&id=1h2OIQY49LxG-Mm6JuZ1K9YHvTN0xnfJK">Скачать Резюме</a>
        </div>

        <div class="upn">
            <div class="upn-period-and-description">

                <div class="period-position-comname-location">
                    <p class="p-class-upn-one">2024-Настоящее время</p>
                    <p class="p-class-upn-two">Программист АСУТП</p>
                    <p class="p-class-upn">Universal Project Network</p>
                    <p class="p-class-upn">Алматы Кабдолла 16/1</p>
                </div>

                <div class="description">
                    <p class="first-description">Программист с специализацией на автоматизированных системах управления технологическим процессом (АСУТП). Занимаюсь разработкой, установкой и поддержкой программного обеспечения для обеспечения эффективного управления производственными процессами.</p>
                    <p class="second-description">Опыт работы с различными языками программирования, такими как Python, C++ и языки спецификаций ПЛК.</p>
                </div>

            </div>
        </div>

        <div class="i-stream">
            <div class="i-stream-period-and-description">

                <div class="i-stream-period-position-comname-location">
                    <p class="p-class-i-stream-one">2022-2023</p>
                    <p class="p-class-i-stream-two">Инженер КИПиА</p>
                    <p class="p-class-i-stream">I-STREAM</p>
                    <p class="p-class-i-stream">Алматы Утеген батыра 15</p>
                </div>

                <div class="i-stream-description">
                    <p class="i-stream-first-description">Инженер по контроле, измерительной приборы и автоматизации (КИПиА). Обладаю глубоким пониманием принципов работы инженерных систем и устройств контроля и измерения, а также опытом в автоматизации производственных процессов.</p>
                    <p class="i-stream-second-description">Опыт работы с различными производителями оборудования и систем автоматизации (Siemens, Schneider Electric, Mitsubishi Electric и т. д.).</p>
                </div>

            </div>
        </div>


        <div class="law">
            <div class="law-almaty-period-and-description">

                <div class="law-almaty-period-position-comname-location">
                    <p class="p-class-law-almaty-one">2021-2022</p>
                    <p class="p-class-law-almaty-two">Помощник ЧСИ</p>
                    <p class="p-class-law-almaty">ЧСИ Алматинской области</p>
                    <p class="p-class-law-almaty">Каскелен Жангозина 15</p>
                </div>

                <div class="law-almaty-description">
                    <p class="law-almaty-first-description">Помощник частного судебного исполнителя (ЧСИ) с прекрасным пониманием процедур исполнительного производства и квалификацией в обеспечении выполнения судебных постановлений и решений.</p>
                    <p class="law-almaty-second-description">Ведение документации и отчетности о выполненных исполнительных действиях, в том числе подготовка отчетов для представления в судебные органы и заказчиков.</p>
                </div>

            </div>
        </div>


        <div class="education">
            <p class="text-education">Образование</p>
        </div>


        <div class="KazNU">
            <div class="KazNU-period-and-description">

                <div class="KazNU-period-position-comname-location">
                    <p class="p-class-KazNU-one">2017-2021</p>
                    <p class="p-class-KazNU-two">Казахский Национальный <br> университет имени Аль-Фараби</p>
                    <p class="p-class-KazNU">Бакалавр</p>
                    <p class="p-class-KazNU">Алматы Aль-Фараби 71</p>
                </div>

                <div class="KazNU-description">
                    <p class="KazNU-first-description">Основательные знания в области автоматизации технических процессов и управления ими. Изучение основных принципов автоматизации, теории управления и технических систем.</p>
                    <p class="KazNU-second-description">Участие в проектах и лабораторных работах, направленных на разработку и оптимизацию автоматизированных систем.</p>
                </div>

            </div>
        </div>

        <div class="Professional-skill-set-and-Languages">

                <div class="Professional-skill-set">
                    <div class="text-Professional-skill-set">
                        <h3 class="style-text-Professional-skill-set">Набор профессиональных навыков</h3>
                    </div>
                    <div class="all-Professional-skill-set">
                        <div class="first-line-Professional-skill-set">
                            <div class="first-blue-square-and-text">
                                <img class="first-blue-square" src="https://kartinki.pibig.info/uploads/posts/2023-12/thumbs/1701854359_kartinki-pibig-info-p-sinii-kvadrat-kartinka-krasivo-67.jpg">
                                <p class="Analytics">Аналитические навыки</p>
                            </div>
                            <div class="second-blue-square-and-text">
                                <img class="first-blue-square" src="https://kartinki.pibig.info/uploads/posts/2023-12/thumbs/1701854359_kartinki-pibig-info-p-sinii-kvadrat-kartinka-krasivo-67.jpg">
                                <p class="Adaptability">Адаптивность</p>
                            </div>
                        </div>
                        <div class="second-line-Professional-skill-set">
                            <div class="third-blue-square-and-text">
                                <img class="first-blue-square" src="https://kartinki.pibig.info/uploads/posts/2023-12/thumbs/1701854359_kartinki-pibig-info-p-sinii-kvadrat-kartinka-krasivo-67.jpg">
                                <p class="Competence">Компетентность в области обучения</p>
                            </div>
                            <div class="fourth-blue-square-and-text">
                                <img class="first-blue-square" src="https://kartinki.pibig.info/uploads/posts/2023-12/thumbs/1701854359_kartinki-pibig-info-p-sinii-kvadrat-kartinka-krasivo-67.jpg">
                                <p class="technical">Технические навыки</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Languages">

                    <div class="text-Languages">
                        <h3 class="style-text-Languages">Языки</h3>
                    </div>

                    <div class="first-line-Languages">
                        <div class="Kazakh">
                            <img  class="blue-square-languages" src="https://kartinki.pibig.info/uploads/posts/2023-12/thumbs/1701854359_kartinki-pibig-info-p-sinii-kvadrat-kartinka-krasivo-67.jpg">
                            <p class="text-Languages">Казахский (родной)</p>
                        </div>
                        <div class="Russian">
                            <img class="blue-square-languages" src="https://kartinki.pibig.info/uploads/posts/2023-12/thumbs/1701854359_kartinki-pibig-info-p-sinii-kvadrat-kartinka-krasivo-67.jpg">
                            <p class="text-Languages">Русский (в совершенстве)</p>
                        </div>
                    </div>

                    <div class="second-line-Languages">
                        <div class="English">
                            <img class="blue-square-languages" src="https://kartinki.pibig.info/uploads/posts/2023-12/thumbs/1701854359_kartinki-pibig-info-p-sinii-kvadrat-kartinka-krasivo-67.jpg">
                            <p class="text-Languages">Английский (базовый)</p>
                        </div>
                    </div>
                </div>
        </div>

    </div>

    </section>

</main>



{% endblock content %}